<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.weblab.webpos.mapper.MenuDAO">

    <select id="getCategory" resultType="java.util.HashMap">
        select *
        from Store
    </select>
</mapper>